/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: #0047ab;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: #eeeee4;
  font-weight: bold;
}

.logo {
  padding-left: 10px;
  width: 100px;
  border-radius: 50%;
}

.nav-items {
  padding: 0 10px 0;
  width: auto;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 40px 10px 0 0;
  font-size: large;
  cursor: pointer;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  width: 200px;
  background-color: #b8b8b8;
  height: 200px;
  margin: 20px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > span {
  display: flex;
  justify-content: space-evenly;
}

.card > span > h4 {
  text-align: center;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(19, 176, 1);
  border-radius: 5px;
  padding: 0 5px 0;
  color: white;
}

.card > span > h4:first-child .fa-star {
  font-size: small;
  padding: 0 5px 3px 0;
}

/* footer CSS */
.footer {
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: #0047ab;
  color: #eeeee4;
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i {
  padding: 0 5px 0;
  font-size: smaller;
}

heart {
  color: #eeeee4;
}

.footer > strong {
  padding-left: 5px;
}

.restaurant-menu {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.menu-image {
  height: 300px;
  width: 30%;
  align: center;
  margin: 0 auto;
}
