* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: #0047ab;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: #eeeee4;
  font-weight: bold;
}

.logo {
  padding-left: 10px;
  width: 100px;
  border-radius: 50%;
}

.nav-items {
  padding: 0 10px 0;
  width: auto;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 40px 10px 0 0;
  font-size: large;
  cursor: pointer;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > span {
  display: flex;
  justify-content: space-evenly;
}

.card > span > h4 {
  text-align: center;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(19, 176, 1);
  border-radius: 5px;
  padding: 0 5px 0;
  color: white;
}

.card > span > h4:first-child .fa-star {
  font-size: small;
  padding: 0 5px 3px 0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* footer CSS */
.footer {
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: #0047ab;
  color: #eeeee4;
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i {
  padding: 0 5px 0;
  font-size: smaller;
}

heart {
  color: #eeeee4;
}

.footer > strong {
  padding-left: 5px;
}
